@page "/Counter";
<PageTitle>Counter</PageTitle>
@namespace prueba.Pages.Counter
<div id="main">
	<div>
		<div>
			<h3>Prueba De WebSokets</h3>

			<input type="text" @bind="mensaje" placeholder="Mensaje a enviar">
			<input type="text" @bind="idother" placeholder="Id del otro cliente">
			<button @onclick="() => _signalRService.Connect()">Connectar</button>
			<button @onclick="@dameImpresoras">Dame Impresoras</button>
			<button @onclick="@enviarMensaje">Enviar Mensaje</button>
			<button @onclick="@(() => _signalRService.CreateConecctions())">Crear Conexiones</button>
			<button @onclick="@(() => _signalRService.RunBenchmark())">BenchMark</button>

			<button @onclick="_signalRService.Close">CerrarConexion</button>

		</div>
		<div>
			<p><b>Estatus:</b> @_statusMessage</p>
			<h5><b>Lista De Impresoras:</b></h5>
			<ul>
				@foreach (var item in impresoras)
				{
					<li>@item</li>
				}
			</ul>
		</div>
	</div>

</div>
