@inherits LayoutComponentBase
@inject StatusMessageService StatusMessageService
@inject SignalRService SignalRService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div title="@StatusMessageService.StatusMessage" class="info-box ">
                <span></span>
                <p class="d-none d-lg-block"><b>Estatus:</b></p>
                <p class="marquee">
                <p class="">@StatusMessageService.StatusMessage</p>
                </p>
            </div>
            <div class="info-box">
                <span></span>
                <p title="Conexiones Activas" class="d-none d-lg-block"><b>C. Activas:</b></p>
                @SignalRService.Conexiones.Count
            </div>
            <div class="info-box">
                <span></span>
                <p class="d-none d-lg-block"><b>Recibidos:</b></p>@SignalRService.MensajesRecibidos
            </div>
            <div class="info-box">
                <span></span>
                <p class="d-none d-lg-block"><b>Enviados:</b></p>@SignalRService.MensajesEnviados
            </div>
            <div class="info-box">
                <span></span>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
        <prueba.Pages.BottomTabla.TablaComponent></prueba.Pages.BottomTabla.TablaComponent>
    </main>
    <footer>
        Andros©®™|Derechos e izquierdos Reservados o algo asi era
    </footer>
</div>
@code {



    protected override void OnInitialized()
    {
        StatusMessageService.StatusMessage = "Aplicacion Iniciada";
        StatusMessageService.StatusMessageChanged += StateHasChanged;
        SignalRService.MensajeEnviadosChanged += StateHasChanged;
        SignalRService.MensajeRecibidosChanged += StateHasChanged;
        SignalRService.ConexionesChanged += StateHasChanged;
    }

    public void Dispose()
    {
        StatusMessageService.StatusMessageChanged -= StateHasChanged;
        SignalRService.MensajeEnviadosChanged -= StateHasChanged;
        SignalRService.MensajeRecibidosChanged -= StateHasChanged;
        SignalRService.ConexionesChanged -= StateHasChanged;
    }
}
